/* media query menu */
/* media query imagenes destacadas */
/* media query servicios destacados */
/* media query testimonios */
/* media query servicios */
/* media query galeria */
/* media query contacto */
#services .button {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  background-color: #ff7aa2;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out; }

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-image: url("../img/nails_background2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }

h2 {
  color: black;
  text-align: center; }

/* estilos de header */
header {
  background-color: #333333;
  opacity: 0.9;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  header .logo img {
    width: 100px;
    height: 100px;
    margin: 0 60px;
    border-radius: 50%; }
  header nav ul {
    list-style-type: none;
    margin: 0 60px;
    padding: 0;
    display: flex; }
    header nav ul li {
      margin-right: 20px; }
      header nav ul li a {
        text-decoration: none;
        color: whitesmoke;
        font-size: 1.2em;
        transition: color 0.3s ease; }
      header nav ul li a:hover {
        color: lightgray; }
    header nav ul li:last-child {
      margin-right: 0; }

.burger-menu {
  display: none; }

/* media query menu */
@media (max-width: 550px) {
  .clasic-menu {
    display: none; }
  .burger-menu {
    display: block;
    margin-right: 20px; }
  .logo img {
    margin-left: 20px; } }

@media (max-width: 950px) {
  .clasic-menu {
    display: none; }
  .burger-menu {
    display: block;
    margin-right: 50px; }
  .logo img {
    margin-left: 30px; } }

/* fin estilos header */
/* estilos de index */
/* bienvenida */
.welcome-section {
  max-width: 90%;
  margin: 20px auto;
  padding: 20px;
  background-color: #F9EBEA;
  color: black;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8); }
  .welcome-section h1 {
    color: black;
    font-size: 2em;
    margin: 30px 0;
    text-align: center;
    text-decoration: underline; }
  .welcome-section p {
    text-align: center;
    line-height: 1.6;
    margin-bottom: 15px; }

/* imagenes destacadas */
.img-destacadas {
  width: 90%;
  background-color: #F9EBEA;
  color: black;
  padding: 20px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8); }
  .img-destacadas h2 {
    font-size: 2em;
    text-align: center;
    margin: 30px 0;
    text-decoration: underline; }

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px; }

.image-item {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out; }
  .image-item img {
    width: 100%;
    height: 200px;
    display: block;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out; }

.image-item:hover {
  transform: scale(1.1); }

/* media query imagenes destacadas */
@media only screen and (max-width: 950px) {
  .image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
  .image-item:hover {
    transform: scale(1.05); }
  .destacada1 {
    grid-column: 1/2; }
  .destacada2 {
    grid-column: 2/3; }
  .destacada3 {
    display: none; } }

@media only screen and (max-width: 550px) {
  .image-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr); }
  .destacada1 {
    grid-column: 1/2; }
  .destacada2 {
    grid-column: 1/2; }
  .destacada3 {
    display: block;
    grid-column: 1/2; } }

/* servicios destacados */
#services {
  width: 90%;
  background-color: #F9EBEA;
  color: black;
  padding: 20px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
  text-align: center; }
  #services h2 {
    font-size: 2em;
    margin: 30px 0;
    text-decoration: underline; }
  #services p {
    font-size: 1.1em;
    margin-bottom: 15px; }
  #services .servicios-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    justify-items: center;
    text-align: center; }
  #services .servicios-item {
    width: 150px;
    background-color: #333333;
    color: whitesmoke;
    font-size: small;
    padding: 10px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); }
  #services .button:hover {
    background-color: #e64d7a; }

/* media query servicios destacados */
@media only screen and (max-width: 950px) {
  .servicios-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
  .serv1 {
    grid-column: 1/2; }
  .serv2 {
    grid-column: 2/3; }
  .serv3 {
    grid-column: 1/2; }
  .serv4 {
    grid-column: 2/3; }
  .serv5 {
    grid-column: 1/3; } }

@media only screen and (max-width: 550px) {
  .servicios-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
  .serv1 {
    grid-column: 1/2; }
  .serv2 {
    grid-column: 2/3; }
  .serv3 {
    grid-column: 1/2; }
  .serv4 {
    grid-column: 2/3; }
  .serv5 {
    grid-column: 1/3; } }

/*estilos de testimonios*/
.comentarios {
  width: 90%;
  background-color: #F9EBEA;
  color: black;
  padding: 20px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8); }
  .comentarios h2 {
    font-size: 2em;
    text-align: center;
    margin: 30px 0;
    text-decoration: underline; }

.testimonial-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px; }

.testimonial-card {
  background-color: #ffffff;
  color: black;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden; }

.testimonial-avatar {
  text-align: center;
  padding: 20px 0; }
  .testimonial-avatar img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #ccc;
    object-fit: cover; }

.testimonial-content {
  padding: 20px;
  text-align: center; }

/*  media query testimonios */
@media only screen and (max-width: 950px) {
  .testimonial-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
  .card1 {
    grid-column: 1/2; }
  .card2 {
    grid-column: 2/3; }
  .card3 {
    grid-column: 1/3; } }

@media only screen and (max-width: 550px) {
  .testimonial-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr); }
  .card1 {
    grid-column: 1/2; }
  .card2 {
    grid-column: 1/2; }
  .card3 {
    grid-column: 1/2; } }

/* fin estilos index */
/* estilos servicios */
.services {
  width: 90%;
  background-color: #F9EBEA;
  color: black;
  padding: 20px;
  margin: 20px auto;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8); }
  .services h1 {
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 30px;
    text-decoration: underline; }

.tarjeta-contenedor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px; }

.tarjeta {
  background-color: #ffffff;
  color: black;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  text-align: center; }
  .tarjeta h3 {
    margin-top: 0;
    font-size: 1.5em; }
  .tarjeta p {
    font-size: 1.1em; }
  .tarjeta img {
    width: 100%;
    height: 200px;
    border-radius: 8px;
    object-fit: cover; }

.card-5 {
  grid-column: 2/ 4; }

/* media query servicios */
@media only screen and (max-width: 950px) {
  .tarjeta-contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
  .card-1 {
    grid-column: 1/2; }
  .card-2 {
    grid-column: 2/3; }
  .card-3 {
    grid-column: 1/2; }
  .card-4 {
    grid-column: 2/3; }
  .card-5 {
    grid-column: 1/3; } }

@media only screen and (max-width: 550px) {
  .tarjeta-contenedor {
    display: grid;
    grid-template-columns: repeat(1, 1fr); }
  .card-1 {
    grid-column: 1/2; }
  .card-2 {
    grid-column: 1/2; }
  .card-3 {
    grid-column: 1/2; }
  .card-4 {
    grid-column: 1/2; }
  .card-5 {
    grid-column: 1/2; } }

/* fin estilos servicios */
/* estilos de galeria */
.galeria {
  width: 90%;
  background-color: #F9EBEA;
  color: black;
  text-align: center;
  padding: 20px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8); }
  .galeria h1 {
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 30px;
    text-decoration: underline; }

#gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px; }

.image-container {
  position: relative;
  overflow: hidden;
  border-radius: 8px; }
  .image-container img {
    width: 100%;
    height: 200px;
    display: block;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out; }

.image-container:hover img {
  transform: scale(1.2); }

.image-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  padding: 10px;
  margin: 0; }

/* media query galeria */
@media only screen and (max-width: 950px) {
  #gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
  .img-1 {
    grid-column: 1/2; }
  .img-2 {
    grid-column: 2/3; }
  .img-3 {
    grid-column: 1/2; }
  .img-4 {
    grid-column: 2/3; }
  .img-5 {
    grid-column: 1/2; }
  .img-6 {
    grid-column: 2/3; }
  .img-7 {
    grid-column: 1/2; }
  .img-8 {
    grid-column: 2/3; }
  .img-9 {
    grid-column: 1/2; }
  .img-10 {
    grid-column: 2/3; }
  .img-11 {
    grid-column: 1/2; }
  .img-12 {
    grid-column: 2/3; } }

@media only screen and (max-width: 550px) {
  #gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr); }
  .img-1 {
    grid-column: 1/2; }
  .img-2 {
    grid-column: 1/2; }
  .img-3 {
    grid-column: 1/2; }
  .img-4 {
    grid-column: 1/2; }
  .img-5 {
    grid-column: 1/2; }
  .img-6 {
    grid-column: 1/2; }
  .img-7 {
    grid-column: 1/2; }
  .img-8 {
    grid-column: 1/2; }
  .img-9 {
    grid-column: 1/2; }
  .img-10 {
    grid-column: 1/2; }
  .img-11 {
    grid-column: 1/2; }
  .img-12 {
    grid-column: 1/2; } }

/* fin estilos galeria */
/* estilo de consejos */
.consejos {
  width: 90%;
  background-color: #F9EBEA;
  color: black;
  text-align: center;
  padding: 20px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8); }
  .consejos h1 {
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 30px;
    text-decoration: underline; }
  .consejos h3 {
    font-size: larger; }

.consejo1 {
  background-color: #d8bfd8;
  color: black;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  margin: auto 20px; }

.consejo2 {
  background-color: #ffebcd;
  color: black;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  margin: auto 20px; }

.consejo3 {
  background-color: #d8bfd8;
  color: black;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  margin: auto 20px; }

.consejo4 {
  background-color: #ffebcd;
  color: black;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  margin: auto 20px; }

.consejo5 {
  background-color: #d8bfd8;
  color: black;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  margin: auto 20px; }

.consejo6 {
  background-color: #ffebcd;
  color: black;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  margin: auto 20px; }

.consejo7 {
  background-color: #d8bfd8;
  color: black;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  margin: auto 20px; }

.consejo8 {
  background-color: #ffebcd;
  color: black;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  margin: auto 20px; }

.consejo9 {
  background-color: #d8bfd8;
  color: black;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  margin: auto 20px; }

.consejo10 {
  background-color: #ffebcd;
  color: black;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  margin: auto 20px; }

/* fin estilos consejos */
/* estilo de contacto */
.contacto {
  width: 90%;
  background-color: #F9EBEA;
  color: black;
  text-align: center;
  padding: 20px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8); }
  .contacto h1 {
    font-size: 2rem;
    text-decoration: underline;
    margin-top: 20px;
    margin-bottom: 30px; }

form {
  background-color: #ffffff;
  color: black;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  /* Sombra */
  text-align: center;
  max-width: 400px;
  margin: 5px auto; }
  form input, form textarea, form input[type="submit"] {
    display: block;
    width: 100%;
    border-radius: 0.25rem;
    border: 1px solid #ff7aa2;
    margin-bottom: 10px; }
  form input[type="text"], form input[type="email"] {
    height: 30px; }
  form input[type="submit"] {
    padding: 10px;
    background-color: #ff7aa2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer; }
  form input[type="submit"]:hover {
    background-color: #e64d7a; }

#contacto {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px; }
  #contacto h2 {
    grid-column: 1/5; }
  #contacto form {
    background-color: #ffffff;
    color: black;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    /* Sombra */
    text-align: center;
    max-width: 400px;
    margin: 5px auto;
    grid-column: 1/3;
    grid-row: 2/4; }
    #contacto form input, #contacto form textarea, #contacto form input[type="submit"] {
      display: block;
      width: 100%;
      border-radius: 0.25rem;
      border: 1px solid #ff7aa2;
      margin-bottom: 10px; }
    #contacto form input[type="text"], #contacto form input[type="email"] {
      height: 30px; }
    #contacto form input[type="submit"] {
      padding: 10px;
      background-color: #ff7aa2;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer; }
    #contacto form input[type="submit"]:hover {
      background-color: #e64d7a; }

.datos {
  background-color: #ffffff;
  color: black;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  /* Sombra */
  text-align: center;
  max-width: 400px;
  margin: 5px auto;
  grid-column: 3/5;
  grid-row: 2/3; }

#map {
  background-color: #ffffff;
  color: black;
  padding: 20px;
  max-width: 600px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  text-align: center;
  margin: 5px auto;
  grid-column: 3/5;
  grid-row: 3/4; }

/* media query contacto */
@media only screen and (max-width: 950px) {
  #contacto {
    display: grid;
    grid-template-columns: repeat(1, 1fr); }
  #contacto h2 {
    grid-column: 1/2;
    grid-row: 1/2; }
  #contacto form {
    grid-column: 1/2;
    grid-row: 2/4; }
  .datos {
    grid-column: 1/2;
    grid-row: 4/5; }
  #map {
    grid-column: 1/2;
    grid-row: 5/6; } }

/* fin estilos contacto*/
/*footer*/
footer {
  background: #333333;
  opacity: 0.9;
  color: whitesmoke;
  display: flex;
  justify-content: space-around;
  padding: 20px; }

.footer-column {
  flex: 1;
  margin-right: 20px; }
  .footer-column h5 {
    margin-bottom: 10px;
    text-align: center; }
  .footer-column p {
    margin-bottom: 10px;
    text-align: center; }
  .footer-column ul {
    list-style: none;
    padding: 0; }
    .footer-column ul li {
      margin-bottom: 5px;
      text-align: center; }
      .footer-column ul li a {
        color: #fff;
        text-decoration: none; }

.footer-column:last-child {
  margin-right: 0; }

.footer-column ul li a:hover {
  text-decoration: underline; }

/* fin estilos footer */
